@tailwind base;
@tailwind components;
@tailwind utilities;
  

.fadeDiv {


    animation: fadeIn 2.5s ease;
}

@keyframes fadeIn {
   


    0% {

        opacity: 0%;

    }

    15% {

        opacity: 100%;
    }

    80% {

        opacity: 100%;
    }

    100% {

        opacity: 0;


    }

    

  }
  

  